body,
h1,
h2,
h3,
h4,
h5,
h6,
.logo span {
    font-family: "Poppins", sans-serif !important;
}

.form-check-input:checked {
    background-color: #dc3545 !important;
    border-color: #b02a37 !important;
}

.logo span {
    color: #b02a37 !important;
    font-family: "Poppins", sans-serif !important;
}

.card-title {
    color: #444444 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem #f5d8db !important;
}

.back-to-top {
    background-color: #dc3545 !important;
}

.back-to-top:hover {
    background: #cf2334;
    color: #fff;
}
.sidebar-nav .nav-link, .sidebar-nav .nav-link i{
    color: #dc3545;
    background: #fdf7f8;
}
.sidebar-nav .collapsed, .sidebar-nav .collapsed i{
    color: #444444 !important;
}
.sidebar-nav .nav-link:hover, .sidebar-nav .nav-link i:hover {
    color: #dc3545;
    background: #fdf7f8;
}
